@if (loading()) {
  <mat-spinner></mat-spinner>
}

@if (errorMessage()) {
  <div>
    {{ errorMessage() }}
  </div>
}

<button matButton="elevated" class="button-crear" (click)="abrirFormulario()">Nuevo</button>
<div class="container">
  @for (libro of books(); track libro.id) {
    <mat-card class="book-card" appearance="outlined">
      <mat-card-content>
        <p class="nombre">{{ libro.name }}</p>
        <p class="email">{{ libro.author }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button class="button-form" (click)="goToBookDetails(libro.id)">
          <mat-icon aria-hidden="false" aria-label="icon-visible"> visibility </mat-icon>
        </button>
        <button mat-icon-button class="button-form" (click)="abrirFormulario(libro)">
          <mat-icon aria-hidden="false" aria-label="icon-edit">edit</mat-icon>
        </button>
        <button mat-icon-button class="button-form" (click)="confirmarEliminacion()">
          <mat-icon aria-hidden="false" aria-label="icon-delete">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
