.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  padding: 0;
}

.book-card {
  max-width: 500px;
  max-height: 500px;
  margin: 10px;
}

.button-crear {
  margin: 20px;
}


.button-form {
  margin: 10px;
}
