<div class="login-container">

  <mat-card class="login-card mat-elevation-z8">

    <div class="header">
      <h1>Bienvenido</h1>
      <p>Inicia sesión para continuar</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" />

        @if (form.controls.username.touched && form.controls.username.invalid) {
          <mat-error>Usuario requerido</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />

        @if (form.controls.password.touched && form.controls.password.invalid) {
          <mat-error>Contraseña requerida</mat-error>
        }
      </mat-form-field>

      <button mat-flat-button color="primary" class="btn-login" type="submit">
        Entrar
      </button>

    </form>

  </mat-card>

</div>