<div class="page">
  <div class="header">
    <h1>Libros</h1>

    <button mat-fab extended color="primary" (click)="abrirFormulario()">
      <mat-icon>add</mat-icon>
      Nuevo libro
    </button>
  </div>

  <div
    class="search-bar"
    [class.focused]="searchFocused"
  >
    <mat-icon class="search-icon">search</mat-icon>

    <input
      [(ngModel)]="searchQuery"
      (focus)="searchFocused = true"
      (blur)="searchFocused = false"
      placeholder="Buscar por título..."
      class="search-input"
    />
  </div>

  @if (loading()) {
    <div class="center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  }

  @if (erroMessage()) {
    <mat-card appearance="outlined">
      <mat-card-content>
        <p>{{ erroMessage() }}</p>
      </mat-card-content>
    </mat-card>
  }

  @if (!loading() && !erroMessage()) {
    <div class="grid">
      @for (book of books().filter(a =>
          a.name.toLowerCase().includes(searchQuery.toLowerCase())); track book.id) {
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-icon mat-card-avatar>menu_book</mat-icon>
            <mat-card-title>{{ book.name }}</mat-card-title>
            <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              <strong>Fecha de creación:</strong>
              {{ book.createdAt | date:'longDate'}}
            </p>
            <p>
              <strong>Publicado:</strong>
              {{ book.publishedAt }}
            </p>
          </mat-card-content>

          <mat-card-actions class="card-actions">
            <button mat-icon-button (click)="goToBookDetails(book.id)">
              <mat-icon class="icon-view">visibility</mat-icon>
            </button>

            <button mat-icon-button (click)="abrirFormulario(book)">
              <mat-icon class="icon-edit">edit</mat-icon>
            </button>

            <button mat-icon-button (click)="confirmarEliminacion(book)">
              <mat-icon class="icon-delete">delete_forever</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  }
</div>
