<mat-dialog-content>
  <h2 mat-dialog-title>Agregar Libro</h2>
  <mat-dialog-content>
    <form class="crearlibro-form" formGroup="form" (ngSubmit)="guardar()">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="name" placeholder="Titulo" />
        @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
          <mat-error>El titulo es requerido </mat-error>
        }
        @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
          <mat-error>El titulo debe tener al menos 3 caracteres</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Autor</mat-label>
        <input matInput formControlName="author" placeholder="autor" />
        @if (form.get('author')?.hasError('required') && form.get('author')?.touched) {
          <mat-error>El autor es requerido </mat-error>
        }
        @if (form.get('author')?.hasError('minlength') && form.get('author')?.touched) {
          <mat-error>El autor debe tener al menos 3 caracteres</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label> Fecha de publicación </mat-label>
        <input matInput formControlName="publicationDate" />
        @if (
          form.get('publicationDate')?.hasError('required') && form.get('publicationDate')?.touched
        ) {
          <mat-error> La fecha de publicación es requerida </mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      matButton="elevated"
      class="button-action"
      color="primary"
      mat-dialog-close
      (click)="cerrar()"
    >
      Cancelar
    </button>
    <button
      matButton="elevated"
      class="button-action"
      color="primary"
      mat-dialog-close
      type="submit"
      (click)="guardar()"
    >
      @if (isEdit()) {
        Editar
      } @else {
        Crear
      }
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
