<div class="page-container">
  @if (loading()) {
    <div class="center-loader">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  }

  @if (error()) {
    <mat-card appearance="outlined" class="error-card">
      <mat-card-content class="error-content">
        <mat-icon class="error-icon">error</mat-icon>

        <h2>Algo salió mal</h2>

        <p>{{ error() }}</p>
      </mat-card-content>
    </mat-card>
  }

  @if (!loading() && !error()) {
    <mat-card appearance="outlined" class="detail-card">

      <!-- HEADER igual al de authors -->
      <div class="header">
        <div class="avatar">
          <mat-icon>menu_book</mat-icon>
        </div>

        <div>
          <h1>{{ book()?.name }}</h1>
          <p>{{ book()?.author }}</p>
        </div>
      </div>

      <mat-card-content class="content">

        <div class="info-row">
          <mat-icon class="icon-badge">badge</mat-icon>
          <div>
            <span class="label">ID del libro</span>
            <span class="value">{{ book()?.id }}</span>
          </div>
        </div>

        <div class="info-row">
          <mat-icon class="icon-public">person</mat-icon>
          <div>
            <span class="label">Autor</span>
            <span class="value">{{ book()?.author }}</span>
          </div>
        </div>

        <div class="info-row">
          <mat-icon class="icon-phone">event</mat-icon>
          <div>
            <span class="label">Publicado en</span>
            <span class="value">{{ book()?.publishedAt }}</span>
          </div>
        </div>

        <div class="info-row">
          <mat-icon class="icon-calendar">calendar_today</mat-icon>
          <div>
            <span class="label">Fecha de creación</span>
            <span class="value">{{ book()?.createdAt | date:'longDate' }}</span>
          </div>
        </div>

      </mat-card-content>

      <mat-card-actions class="actions">
        <button mat-flat-button color="primary" (click)="volver()">
          <mat-icon>arrow_back</mat-icon>
          Volver
        </button>
      </mat-card-actions>

    </mat-card>
  }
</div>