<mat-toolbar color="primary" class="navbar">

  <span class="spacer"></span>

  <nav class="nav-links">
    <a mat-button routerLink="/home" routerLinkActive="active-link">
      <span style="color: black">Home</span>
    </a>

    <a mat-button routerLink="/products" routerLinkActive="active-link">
      <span style="color: black">Products</span>
    </a>

    <a mat-button routerLink="/about" routerLinkActive="active-link">
      <span style="color: black">About</span>
    </a>

    <a mat-button routerLink="/contact" routerLinkActive="active-link">
      <span style="color: black">Contact</span>
    </a>
  </nav>
</mat-toolbar>