.navbar {
  background-color: #7389AE;

  padding: 14px 30px;

  display: flex;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0,0,0,0.08);

  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
}

a {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;

  border-radius: 12px;

  color: white;

  font-weight: 500;

  transition:
    background-color 0.25s ease,
    transform 0.25s ease,
    color 0.25s ease;

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: rgba(255,255,255,0.12);

    color: #81D2C7;

    transform: translateY(-2px);
  }
}

.active-link {
  background-color: #416788;
  color: #81D2C7;

  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}