<mat-toolbar color="primary" class="navbar">
    <nav class="nav-links">
        <a mat-button routerLink="/home" routerLinkActive="active-link">
            Inicio
        </a>
        <a mat-button routerLink="/about" routerLinkActive="active-link">
            Sobre Nosotros
        </a>
        <a mat-button routerLink="/contact" routerLinkActive="active-link">
            ¡Contáctanos!
        </a>
        <a mat-button routerLink="/login" routerLinkActive="active-link">
            Mi cuenta TIENDAMÍA
        </a>
    </nav>
</mat-toolbar>