<footer class="footer">

  <div class="footer-section">
    <h3>Corporativo</h3>

    <a href="#">Información corporativa</a>
    <a href="#">Términos y condiciones</a>
  </div>

  <div class="footer-section">
    <h3>Redes Sociales</h3>

    <div class="social-icons">

      <a href="#">
        <mat-icon>facebook</mat-icon>
      </a>

      <a href="#">
        <mat-icon>photo_camera</mat-icon>
      </a>

      <a href="#">
        <mat-icon>smart_display</mat-icon>
      </a>

    </div>
  </div>

  <div class="copyright">
    © {{ currentYear }} Nova Market S.A - Todos los derechos reservados.
  </div>

</footer>