// Banner
.banner {
  height: 450px;
  background-color: #b5bad0;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 40px;
}

.overlay {
  max-width: 700px;
  color: #416788;

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
  }

  button {
    background-color: #81d2c7 !important;
    color: #416788 !important;

    font-weight: 600;
    padding: 25px 30px;
    border-radius: 10px;

    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease,
      background-color 0.25s ease;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    border: none !important;

    box-shadow: none !important;

    .mat-mdc-button-persistent-ripple,
    .mdc-button__ripple,
    .mat-ripple-element {
      display: none !important;
    }

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

      background-color: #7cc9bf !important;
    }
  }
}

// Productos
.products-section {
  padding: 70px 40px;

  h2 {
    text-align: center;
    margin-bottom: 45px;
    font-size: 2.2rem;
    color: #416788;
    font-weight: 700;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.product-card {
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  &:hover {
    transform: translateY(-6px);
  }

  img {
    height: 240px;
    object-fit: cover;
  }

  mat-card-content {
    padding: 20px;
  }

  h3 {
    color: #416788;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  p {
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  background-color: #7389ae;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #416788;
}

// Promociones

.promotions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;

  padding: 0 40px 70px;
}

.promo-card {
  background-color: #b5bad0;
  color: 416788;

  padding: 35px;
  border: 1px solid rgba(65, 103, 136, 0.12);
  border-radius: 18px;

  text-align: center;

  transition: 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    margin-bottom: 15px;
    font-size: 1.4rem;
  }

  p {
    line-height: 1.6;
  }
}
