<div class = "cabecera">
        <h1> DEPARTMENTS </h1>
        <input type="text" [(ngModel)]="searchId" placeholder="Buscar por Id">
        <button (click)="agregarDepartamento()" class = "boton-post"> Agregar departamento </button>
    </div>
<div class = "contenedor">
    @if(loading){
        <div>Cargando...</div>
    }

    @if(error){
        <div>{{error}}</div>
    }

    @if(!loading && !error){
        <div class = "tarjetas">
            @for(department of departments; track department.id){
                @if(!searchId || department.id === searchId){
                <div class = "tarjeta-departamento">
                    <h2>Id: <strong>{{department.id}}</strong></h2>
                    <div>Manager Name: <strong>{{department.managerName}}</strong></div>
                    <div>Description: <strong>{{department.description}}</strong></div>
                    <div>Name: <strong>{{department.name}}</strong></div>
                    <div>Created At: <strong>{{department.createdAt}}</strong></div>
                    <div class = "botones">
                        <button class="boton-delete" (click)="eliminarDepartamento(department.id)">
                            Eliminar
                        </button>
                        <button class="boton-put" (click)="editarDepartamento(department.id)">
                            Editar
                        </button>
                    </div>
                </div>
                }   
            }
        </div>
    }
</div>