* {
    list-style: none;
}

button {
    border: 1px solid;
    border-radius: 5px;
}

.contenedor {
    padding: 5%;
    background-color: white;
    margin: 0 10%;
}

.cabecera {
    background-color: rgb(47, 48, 48);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 25%;
}

.cabecera h1 {
    color: white;
}

input {
    margin-left: 25px;
    height: 15px;
}

.boton-post {
    background-color: blue;
    color: white;
    
    border-color: white;
    padding: 5px;
}

.boton-put {
    background-color: white;
    color: blue;
    border-color: blue;
    padding: 5px;
}

.boton-delete {
    background-color: white;
    color: red;
    border-color: red;
    padding: 5px;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.tarjeta-departamento {
    display: flex;
    flex-direction: column;
    gap: 5px;

    flex: 1 1 300px;
    max-width: 300px;
    border: 1px solid #7c7c7c;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
}

.botones {
    display: flex;
    gap: 10px;
    text-align: center;
    margin: 0 25%;
}